$font-stack: Helvetica, sans-serif;
// $font-option-one: "Bad Script", cursive;
$main-color: white;
$backgroundColor: #f19483;
$text-background: #fbfbf8;
$content-margin: 5vw;
$page-margin: 5vw;

// $grid-columns: 12;
// $grid-gutter-width: 30px;

// $grid-breakpoints: (
//   // Extra small screen / phone
//     xs: 0,
//   // Small screen / phone
//     sm: 576px,
//   // Medium screen / tablet
//     md: 768px,
//   // Large screen / desktop
//     lg: 992px,
//   // Extra large screen / wide desktop
//     xl: 1200px
// );

// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px,
// );

body {
  color: $main-color;
  background-color: $backgroundColor;
  text-align: center;
}

.page-content {
  margin: $page-margin;
}

.recipe-image-name {
  margin: 10px;
  &:hover {
    color: black;
  }
}

#about-container {
  background-color: $text-background;
  color: #333333;
  margin: $content-margin;
  padding: 5vw 10vw 30vw 10vw;
}

#description-content {
  font-size: 3vw;
  font-family: "Bad Script", cursive;
}

#story {
  font-size: 5vw;
  font-family: "Bad Script", cursive;
  padding-bottom: 2vw;
}

.brand-title {
  font-family: "Advent Pro", sans-serif;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #story,
  .page-title {
    font-size: 30px;
  }
  #description-content {
    font-size: 20px;
  }

  #about-container {
    padding-bottom: 40vw;
  }

  .page-title,
  #story,
  #description-content {
    font-family: "Bad Script", cursive;
  }
}

@media (min-width: 1200px) {
  #story,
  .page-title {
    font-size: 45px;
  }
  #description-content {
    font-size: 30px;
  }

  .page-title,
  #story,
  #description-content {
    font-family: "Bad Script", cursive;
  }

  #about-container {
    padding-bottom: 40vw;
  }
}

.img.mg-fluid.rounded {
  width: 105%;
  transition: all 0.3s;
}

.bg {
  background-image: url("https://images.unsplash.com/photo-1523905330026-b8bd1f5f320e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
}
