$font-stack: Helvetica, sans-serif;
$main-color: white;
$backgroundColor: tomato;

// $grid-columns: 12;
// $grid-gutter-width: 30px;

// $grid-breakpoints: (
//   // Extra small screen / phone
//     xs: 0,
//   // Small screen / phone
//     sm: 576px,
//   // Medium screen / tablet
//     md: 768px,
//   // Large screen / desktop
//     lg: 992px,
//   // Extra large screen / wide desktop
//     xl: 1200px
// );

// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px,
// );

body {
  color: $main-color;
  background-color: $backgroundColor;
  text-align: center;
}

.page-template {
  margin: 30px;
}

// .description {
//   margin: 10px;
//   &:hover {
//     color: yellow;
//   }
// }

// .row.row-cols-1.row-cols-sm-2.row-cols-md-4 {
//   display: flex;
//   flex-wrap: wrap;
// }
